global:
  scrape_interval:     15s
  evaluation_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'docker-host-alpha'

rule_files:
  - "alert.rules"

scrape_configs:
  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
      - targets: {{ node_exporter_targets | join(" ") }}

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: {{ cadvisor_exporter_targets | join(" ") }}


  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'nginx exporter'
    scrape_interval: 5s
    static_configs:
      - targets: {{ nginx_exporter_targets | join(" ") }}
           

  - job_name: 'postgres_exporter'
    scrape_interval: 50s
    static_configs:
      - targets: {{ postgresql_exporter_targets | join(" ") }}


  - job_name: 'django_exporter'
    scrape_interval: 10s
    scheme: https
    static_configs:
      - targets: {{ django_exporter_targets | join(" ") }}


  - job_name: 'pushgateway'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: {{ pushgateway_targets | join(" ") }}

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: {{ blackbox_targets | join(" ") }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: {{ alertmanagers_targets | join(" ") }}


