global:
  scrape_interval:     15s
  evaluation_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'k8s-project'

rule_files:
  - "alert.rules"

scrape_configs:
  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
      - targets: 
      {% for item in node_exporter_targets %}
          - {{ item }}
      {% endfor %}

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: 
      {% for item in cadvisor_exporter_targets %}
          - {{ item }}
      {% endfor %}


  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'nginx exporter'
    scrape_interval: 5s
    static_configs:
      - targets: 
      {% for item in nginx_exporter_targets %}
          - {{ item }}
      {% endfor %}
           

  - job_name: 'postgres_exporter'
    scrape_interval: 50s
    static_configs:
      - targets:
      {% for item in postgresql_exporter_targets %}
          - {{ item }}
      {% endfor %}


  - job_name: 'django_exporter'
    scrape_interval: 10s
    scheme: https
    static_configs:
      - targets: 
      {% for item in django_exporter_targets %}
          - {{ item }}
      {% endfor %}


  - job_name: 'pushgateway'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: 
      {% for item in pushgateway_targets  %}
          - {{ item }}
      {% endfor %}

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: 
      
      {% for item in blackbox_targets  %}
          - {{ item }}
      {% endfor %}

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      {% for item in alertmanagers_targets  %}
          - {{ item }}
      {% endfor %}


